
@spacing: 10px;
@radius: 3px;
@font-size: 16px;
@text-color: #444;
@theme-color: #1e64be;

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: @text-color;
  font-size: @font-size;
  line-height: 150%;
  font-weight: 300;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: @text-color;
}

menu {
  background: #fff;
  padding: @spacing * 2 0;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;

  .button {
    float: right;
  }

  .menu-items {
    float: right;
  }

  .menu-item {
    cursor: pointer;
    float: left;
    padding: @spacing * 3;
    margin: @spacing * -2 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.clear {
  clear: both;
}

.push {
  background: red;
  height: 84px;
  width: 100%;
}

.center {
  width: 70%;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-family: "Lobster", sans-serif;
  float: left;
  padding: @spacing 0;
}

.jumbo-header {
  background: url("/images/header.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  font-weight: 100;
  font-size: 100px;
  line-height: 100%;
  display: inline-block;
  margin-top: 200px;
}

input {
  border: 1px solid #eee;
  border-radius: @radius;
  font-size: @font-size;
  padding: @spacing;
  margin-bottom: @spacing;
  font-weight: 300;
}

.button {
  display: inline-block;
  text-align: center;
  background: @theme-color;
  color: #fff;
  border-radius: @radius;
  padding: @spacing;
  cursor: pointer;

  &.gray {
    cursor: not-allowed;
    pointer-events: all !important;
    color: #666;
    background: #ccc;
  }
}

.login-form {
  width: 600px;
  text-align: center;
}

.login-form {
  .button, input {
    width: 300px;
  }
}

.find-map, .borrow-map {
  width: 100%;
  border-radius: @radius;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

.find-map {
  height: 600px;
}

.borrow-map {
  height: 400px;
}

.page {
  margin-top: @spacing * 4;
}

.left-column {
  width: 60%;
  float: left;
}

.right-column {
  width: 40%;
  float: left;
  padding: 0 @spacing;
}

.bike-name {
  margin-bottom: @spacing;
}


.bike-image, .comment-image, .profile-picture, .testimonial-picture {
  background-color: #ccc;
  background-position: center center;
  background-size: cover;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.testimonial-picture {
  width: 350px;
  height: 350px;
}

.bike-image {
  width: 100px;
  height: 100px;
}

.profile-picture {
  width: 200px;
  height: 200px;
}

.comment-image {
  width: 50px;
  height: 50px;
}

.bike-info-td {
  vertical-align: top;
  padding-left: @spacing;
}

.bike-list-row {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: @spacing * 2 0;

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }


  .bike-list-td {
    padding-left: @spacing * 2;
  }

  .button {
    margin-top: -@spacing;
  }
}



.profile-info {
  padding-left: @spacing * 2;
  padding-top: @spacing * 2;
  vertical-align: top;
}

.profile-text {
  padding-top: @spacing * 2;
}

.rating {
  font-style: italic;
}

.comments {
  padding-left: @spacing;

  .comment {
    background: #eee;
    padding: @spacing;
    margin-left: @spacing;
    position: relative;

    &:before {
      content: "";
      display: block;
      top: 0;
      left: -10px;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 20px 0;
      border-color: transparent #eee transparent transparent;
    }
  }
}

.icon {
  width: 15px;
  height: 15px;
}

label {
  margin-right: @spacing;
  user-select: none;
}

.testimonial-quote {
  padding: @spacing * 4;
  font-size: 26px;
}

.quote-symbol {
  font-size: 100px;
  line-height: 30%;
  color: @theme-color;
}