<div class="center">
  <div class="page">
    <div class="left-column">
      <div bike-map bike-map-bikes="bikes" class="find-map"></div>
      <div class="clear"></div>
    </div>
    <div class="right-column">
      <div class="bike-list">
        <div class="bike-list-row" ng-repeat="bike in bikes">
          <table>
            <tr>
              <td style="width: 0;">
                <div class="bike-list-image" ng-style="{ 'background-image': 'url({{bike.image_url}})' }"></div>
              </td>
              <td style="padding-left: 10px;">
                <div class="bike-list-name">{{ bike.bike_name }}</div>
                <div class="button">Låna</div>
                <div class="button">Lämna tillbaka</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>