<div class="jumbo-header">
  <div class="center">
    <h1>Share a bike!</h1>
    <div class="login-form">
      <input type="text" placeholder="Email address" ng-model="email"><br>
      <input type="password" placeholder="Password"><br>
      <div class="button" ng-click="login($event)">Login</div>
    </div>
  </div>
</div>
<div class="center">
  <div class="page">

    <table style="width: 100%;">
      <tr>
        <td style="width: 33%; text-align: center;">
          <h2>Easy</h2>
          <div style="line-height: 200%;">
            <div>&#x2714; Track your bike using GPS.</div>
            <div>&#x2714; Intuitive interface to find bicycles.</div>
            <div>&#x2714; Maps showing points of interests.</div>
          </div>
        </td>
        <td style="width: 33%; text-align: center;">
          <h2>Personal</h2>
          <div style="line-height: 200%;">
            <div>&#x2714; Rate users that are nice.</div>
            <div>&#x2714; Profiles with detailed descriptions.</div>
            <div>&#x2714; Leave comments on each other.</div>
          </div>
        </td>
        <td style="width: 33%; text-align: center;">
          <h2>Safe</h2>
          <div style="line-height: 200%;">
            <div>&#x2714; Theft alarm activated automatically.</div>
            <div>&#x2714; Your position will not be shared during rental.</div>
            <div>&#x2714; Ratings and comments to prevent misuse.</div>
          </div>
        </td>
      </tr>
    </table>

    <div style="border-bottom: 1px solid #eee; margin: 50px 0;"></div>

    <table style="width: 100%;">
      <tr>
        <td>
          <div class="testimonial-picture" style="background-image: url('/images/erik.png');"></div>
        </td>
        <td>
          <div class="testimonial-quote">
            <div class="quote-symbol">&ldquo;</div>
            <div>This is a great way to make extra money when you're not using your bike!</div><br>
            <div>Erik Örjehag</div>
          </div>
        </td>
      </tr>
    </table>

    <table style="width: 100%;">
      <tr>
        <td style="text-align: right;">
          <div class="testimonial-quote">
            <div class="quote-symbol">&ldquo;</div>
            <div>Awesome service! I used to always lose my bike after crazy parties...</div><br>
            <div>William Sjöblom</div>
          </div>
        </td>
        <td style="width: 1px;">
          <div class="testimonial-picture" style="background-image: url('/images/wille.png');"></div>
        </td>
      </tr>
    </table>

    <table style="width: 100%;">
      <tr>
        <td>
          <div class="testimonial-picture" style="background-image: url('/images/vahid.jpg');"></div>
        </td>
        <td>
          <div class="testimonial-quote">
            <div class="quote-symbol">&ldquo;</div>
            <div>I don't have a bike but now I can borrow a bike whenever I want, great!</div><br>
            <div>Vahid Keshmiri</div>
          </div>
        </td>
      </tr>
    </table>

    <div style="height: 200px;"></div>
  </div>
</div>