<div class="center">
  <div class="page">
    <div class="left-column">
      <table>
        <tr>
          <td style="width: 1px;">
            <div class="profile-picture" ng-style="profilePictureStyle"></div>
          </td>
          <td class="profile-info">
            <h2>{{ user.full_name }}</h2>
            <div class="rating">Rating: {{ user.rating }}%</div>
            <div class="profile-text">{{ user.profile_text }}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="right-column">
      <div class="comments">
        <table>
          <tr ng-repeat="comment in comments | limitTo:3">
            <td style="width: 1px; vertical-align: top;">
              <div class="comment-image" ng-style="{ 'background-image': 'url({{ comment.image_url }})' }"></div>
            </td>
            <td style="vertical-align: top;">
              <div class="comment">
                <div>{{ comment.full_name }}</div>
                <div>{{ comment.text }}</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="page">
    <div ng-show="borrowing">
      <h2>You are borrowing this bike</h2>
      <div>
        <div class="left-column">
          <div bike-map bike-map-bikes="borrowingList" bike-map-show-paths="true" bike-map-show-points="false" class="borrow-map"></div>
        </div>
        <div class="right-column">
          <table style="width: 100%;" ng-class="{ 'stolen': stolen(borrowing) }">
            <tr>
              <td style="width: 1px;">
                <div class="bike-image" ng-style="image(borrowing)"></div>
              </td>
              <td class="bike-info-td">
                <div class="bike-name">{{ borrowing.bike_name }}</div>
                <div>
                  <span>Status: </span>
                  <span ng-show="!stolen(borrowing) && borrowing.locked">Locked <img class="icon" src="/images/locked.png"></span>
                  <span ng-show="!stolen(borrowing) && !borrowing.locked">Unlocked <img class="icon" src="/images/unlocked.png"></span>
                  <span ng-show="stolen(borrowing)" style="font-weight: bold;">Stolen!</span>
                </div>
                <div style="font-style: italic">
                  Owner: {{ borrowing.full_name }}
                </div>
                <div class="rating">
                  Rating: {{ borrowing.rating }}%
                </div>
              </td>
            </tr>
          </table>
          <br>
          <div class="button" ng-click="return(borrowing)">Return</div>
          <div class="button" ng-click="find(borrowing)">Find</div>
          <div class="button" ng-click="lock(borrowing)" ng-show="!borrowing.locked">Lock</div>
          <div class="button" ng-click="unlock(borrowing)" ng-show="borrowing.locked">Unlock</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div class="page">
    <h2>You own these bikes</h2>
    <div>
      <div class="left-column">
        <div class="borrow-map" bike-map bike-map-bikes="bikes" bike-map-show-paths="true" bike-map-show-points="false"></div>
      </div>
      <div class="right-column">
        <div class="bike-list">
          <div class="bike-list-row" ng-repeat="bike in bikes">
            <table style="width: 100%;" ng-class="{ 'stolen': stolen(bike) }">
              <tr>
                <td style="width: 1px;">
                  <div class="bike-image" ng-style="image(bike)"></div>
                </td>
                <td class="bike-info-td">
                  <div class="bike-name">{{ bike.bike_name }}</div>
                  <div>
                    <span>Status: </span>
                    <span ng-show="!stolen(bike) && bike.locked">Locked <img class="icon" src="/images/locked.png"></span>
                    <span ng-show="!stolen(bike) && !bike.locked">Unlocked <img class="icon" src="/images/unlocked.png"></span>
                    <span ng-show="stolen(bike)">Stolen!</span>
                  </div>
                  <div class="rating" ng-show="bike.rented_by">
                    <div>Borrowed by: {{ bike.rented_by_full_name }}</div>
                    <div>Rating: {{ bike.rented_by_rating }}%</div>
                  </div>
                  <div ng-show="!bike.rented_by">
                    <div class="rating">
                      Available
                    </div>
                    <!--<div>
                      <div class="button" ng-click="find(bike)">Find</div>
                      <div class="button" ng-click="lock(bike)" ng-show="!bike.locked">Lock</div>
                      <div class="button" ng-click="unlock(bike)" ng-show="bike.locked">Unlock</div>
                    </div>-->
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div style="height: 100px;"></div>

</div>